

<div class="container">
	

	<div class="row-fluid">

		
		<div class="span8">

				<div class="row">

					<div class="span2">	
						<img src= <%= @startups[0].avatar_url%> style="width:100px;height:100px;">
					</div>	
					<div class="span10">	
						<h1 style="color:#0088cc;"><%= @startups[0].name%></h1>
						<p style="color:#0088cc;"><%= @startups[0].category%> &nbsp;&nbsp;<i class="icon-home"></i>&nbsp;&nbsp; <%= @startups[0].country%> </p>
					</div>	

				</div><!-- fin del row de head del span8-->

				<div class="row">
					<br>
					<iframe src="http://player.vimeo.com/video/<%= @startups[0].video %>" width="100%" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

					<br>

					<h3 style="color:#0088cc;">Startup Pitch</h3>

					<%= @startups[0].description %> 

					 <H3>_________________________________________________________</H3>

					<h4 class="subheader"> FeedBack </h4>
   
  					<%= render @startups[0].comments %> <br>
  

 
 					 <h4 class="subheader"> Comment </h4>
  					<% if signed_in? %>
  					<%= form_for([ @startups[0], @startups[0].comments.build]) do |f| %>
  
    				<%= f.hidden_field :commenter , :value => current_user.email  %>
  

      				<%= f.text_area :body , :style=>"height:74px;width:534px;"%>
     				 <%= f.hidden_field :startup_id , :value => @startups[0].id  %><br> 
  
   
      				<%= f.button :submit , :class => 'btn' , :id =>"Comment" %>
  
  <% end %> <!--fin del form -->

  <%end%><!--fin del if -->




			   </div>	<!-- fin del contenido-->

		</div>

		<div class="span4" style="background-color:#f5f5f5;">

			<br><br><br><br><br><br>
			<div class="row">


				<div class="row-fluid">
					<div class="span2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

					<div class="span9" style="background-color:#232323;">
					
					<h3 style="color:white;"><center>INVESTMENT</center> </h3>
					<h3 style="color:white;">_____________________</h3>	
					<br><center>
					<%= simple_form_for([@startups[0], @startups[0].investments.build]) do |s| %>
 

					<%= s.input_field :vcmoney , :label =>"amount" , :value =>" 20000" , :id=>"inputi"%>

					<br>
					<%= s.button :submit, :class => 'btn' , :value=>"Invest"  %>
 	
 					<% end %></center>
 					
 					</div>

 					<div class="span1"></div>

 				</div>
 				<br>
 				<div class="row-fluid">
					<div class="span2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>

					<div class="span9">
					
					<button class="btn btn-large btn-danger">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RATE THIS STARTUP&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button>
 					
 					</div>

 					<div class="span1"></div>

 				</div>






 				<br><br>
 				<center>
 				
 				</center>
 				<br><br><br><br><br>









 			</div>




 		</div><!-- fin del row interior-->




		</div>






	</div> <!-- fin del row de todo el contenido-->
</div> <!-- fin del container-->