

 <div class="row-fluid">
 
 	<div class="span1">
   
     <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style="width:50px;height:50px;">
 	</div>	
 	

 	<div class="span11">

 		<h6 class="subheader"> <%= comment.commenter %> </h6>

 	

  		<b>Said:</b>
  		<h6 class="subheader"><%= comment.body %></h6>

  		<BR>

  		<div class="btn-group">
  			<a class="btn btn-primary" href="/comments/like?idea=<%= comment.id%>" > <i class="icon-thumbs-up"></i></a>
  			<a class="btn btn-primary" href="/comments/like?ide=<%= comment.id%>"><i class="icon-thumbs-down"></i></a>
  		</div>



  		

  		likes:<%= comment.like %> 
  		no likes: <%= comment.nolike %> 
 		</div>
    </div>	

<BR>
  