


<%- model_class = @startup.class -%>
<h3 class="subheader"><%=t '.title', :default => t('helpers.titles.edit', :model => model_class.model_name.human,
                                 :default => "Edit #{model_class.model_name.human}") %></h3>
<%= render :partial => 'form' %>



<h4><%= link_to "Add Member", new_startup_member_path(@startup ) %></h4>


