<%- model_class = Startup.new.class -%>
<h1 class="subheader"><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:video) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:vmoney) %></th>
      <th><%= model_class.human_attribute_name(:website) %></th>
      <th><%= model_class.human_attribute_name(:category) %></th>
      <th><%= model_class.human_attribute_name(:country) %></th>
      <th><%= model_class.human_attribute_name(:stage) %></th>
      <th><%= model_class.human_attribute_name(:revenue) %></th>
      <th><%= model_class.human_attribute_name(:semail) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @startups.each do |startup| %>
      <tr>
        <td><%= link_to startup.id, startup_path(startup) %></td>
        <td><%= startup.name %></td>
        <td><%= startup.video %></td>
        <td><%= startup.description %></td>
        <td><%= startup.vmoney %></td>
        <td><%= startup.website %></td>
        <td><%= startup.category %></td>
        <td><%= startup.country %></td>
        <td><%= startup.stage %></td>
        <td><%= startup.revenue %></td>
        <td><%= startup.semail %></td>
        <td><%=l startup.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_startup_path(startup), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      startup_path(startup),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>

          <%= link_to "New activity ", new_startup_activity_path(startup) %>           
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_startup_path,
            :class => 'btn btn-primary' %>




<br><br>


<% form_tag do  %>
     <%= submit_tag :class => 'btn btn-primary'%>
  </p>
<% end %>

