<div class="container">
  

  <div class="row-fluid">

    
    <div class="span8">

        <div class="row">

          <div class="span2"> 
            <img src= <%= @startup.avatar_url%> style="width:100px;height:100px;">
          </div>  
          <div class="span10">  
            <h1 style="color:#0088cc;"><%= @startup.name%></h1>
            <p style="color:#0088cc;"><%= @startup.category%> &nbsp;&nbsp;<i class="icon-home"></i>&nbsp;&nbsp; <%= @startup.country%> </p>
          </div>  

        </div><!-- fin del row de head del span8-->

        <div class="row">
          <br>
          <iframe src="http://player.vimeo.com/video/<%= @startup.video %>" width="100%" height="300px" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <br>

          <h3 style="color:#0088cc;">Startup Pitch</h3>

          <%= @startup.description %> 
          <H3>_________________________________________________________</H3>

          <h4 class="subheader"> FeedBack </h4>
   
            <%= render @startup.comments %> <br>
  

          <% if signed_in? %>
           <h4 class="subheader"> Comment </h4>
           
            <%= form_for([ @startup, @startup.comments.build]) do |f| %>
  
            <%= f.hidden_field :commenter , :value => current_user.email  %>
  

              <%= f.text_area :body , :style=>"height:74px;width:534px;"%>
             <%= f.hidden_field :startup_id , :value => @startup.id  %><br> 
  
   
              <%= f.button :submit , :class => 'btn' , :id =>"Comment" %>
  
  <% end %> <!--fin del form -->

  <%end%><!--fin del if -->




         </div> <!-- fin del contenido-->

    </div>

    <div class="span4" style="background-color:#f5f5f5;">


        <br><br><br><br><br><br>
        <h1>vc money : <%= @startup.vmoney %></h1>


    </div>






  </div> <!-- fin del row de todo el contenido-->
</div> <!-- fin del container-->



