

<div class="row-fluid" style="background-image:url('http://res.cloudinary.com/bogdecom/image/upload/v1372428743/fondo_ehhhse.png'); width:100%;">
<br>
 <div class="row-fluid">
     <div class="span2"><br></div> 
      <div class="span10">
          <h3 class="subheader"style="color:white;"><li> Latest startups</li> </h3>
      </div>
     

 </div>


<center>

<div id="myCarousel" class="carousel slide"> 
  <ol class="carousel-indicators">
   
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="active item"><ul class="thumbnails">


        <li class="span2">
        </li>  

         <li class="span2">
            <div class="thumbnail" style="background-color:white;">
              
              <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[0].name , @startups[0]%>
                    <h5 style="color:#0088cc">  <%= @startups[0].category %><br>
                      <%= @startups[0].country %><br></h5>
                  </div>

              </div>

              <% if @startups[0].avatar? %>   


             <%= image_tag(@startups[0].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[0].description[0,100]  %>..</p>


          </div>
        </li>
  
      <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[1].name , @startups[1]%>
                      <h5 style="color:#0088cc"> <%= @startups[1].category %><br>
                      <%= @startups[1].country %><br></h5>
                  </div>

              </div>
               <% if @startups[1].avatar? %>   


             <%= image_tag(@startups[1].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[1].description[0,100]  %>..</p>


          </div>
        </li>
     <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[2].name , @startups[2]%>
                     <h5 style="color:#0088cc">  <%= @startups[2].category %><br>
                      <%= @startups[2].country %><br></h5>
                  </div>

              </div>
               <% if @startups[2].avatar? %>   


             <%= image_tag(@startups[2].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[2].description[0,100]  %>..</p>


          </div>
        </li>
        <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                         <%= link_to @startups[3].name , @startups[3]%>
                     <h5 style="color:#0088cc"> <%= @startups[3].category %><br>
                      <%= @startups[3].country %><br></h5>
                  </div>

              </div>
               <% if @startups[3].avatar? %>   


             <%= image_tag(@startups[3].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[3].description[0,100]  %>..</p>


        </li>

         <li class="span2">
        </li>           


      </ul>
 
  </div>
    <div class="item"><ul class="thumbnails">


        <li class="span2">
        </li>  

         <li class="span2">
            <div class="thumbnail" style="background-color:white;">
              
              <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[0].name , @startups[0]%><br>
                    <h5 style="color:#0088cc">  <%= @startups[0].category %><br>
                      <%= @startups[0].country %><br></h5>
                  </div>

              </div>

              <% if @startups[0].avatar? %>   


             <%= image_tag(@startups[0].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[0].description[0,100]  %>..</p>


          </div>
        </li>
  
      <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[1].name , @startups[1]%>
                      <h5 style="color:#0088cc"> <%= @startups[1].category %><br>
                      <%= @startups[1].country %><br></h5>
                  </div>

              </div>
               <% if @startups[1].avatar? %>   


             <%= image_tag(@startups[1].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[1].description[0,100]  %>..</p>


          </div>
        </li>
     <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[2].name , @startups[2]%>
                     <h5 style="color:#0088cc">  <%= @startups[2].category %><br>
                      <%= @startups[2].country %><br></h5>
                  </div>

              </div>
               <% if @startups[2].avatar? %>   


             <%= image_tag(@startups[2].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[2].description[0,100]  %>..</p>


          </div>
        </li>
        <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                         <%= link_to @startups[3].name , @startups[3]%>
                     <h5 style="color:#0088cc"> <%= @startups[3].category %><br>
                      <%= @startups[3].country %><br></h5>
                  </div>

              </div>
               <% if @startups[3].avatar? %>   


             <%= image_tag(@startups[3].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[3].description[0,100]  %>..</p>


        </li>

         <li class="span2">
        </li>           


      </ul>
 
   </div>
    <div class="item"><ul class="thumbnails">


        <li class="span2">
        </li>  

         <li class="span2">
            <div class="thumbnail" style="background-color:white;">
              
              <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[0].name , @startups[0]%>
                    <h5 style="color:#0088cc">  <%= @startups[0].category %><br>
                      <%= @startups[0].country %><br></h5>
                  </div>

              </div>

              <% if @startups[0].avatar? %>   


             <%= image_tag(@startups[0].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[0].description[0,100]  %>..</p>


          </div>
        </li>
  
      <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[1].name , @startups[1]%>
                      <h5 style="color:#0088cc"> <%= @startups[1].category %><br>
                      <%= @startups[1].country %><br></h5>
                  </div>

              </div>
               <% if @startups[1].avatar? %>   


             <%= image_tag(@startups[1].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[1].description[0,100]  %>..</p>


          </div>
        </li>
     <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[2].name , @startups[2]%>
                     <h5 style="color:#0088cc">  <%= @startups[2].category %><br>
                      <%= @startups[2].country %><br></h5>
                  </div>

              </div>
               <% if @startups[2].avatar? %>   


             <%= image_tag(@startups[2].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[2].description[0,100]  %>..</p>


          </div>
        </li>
        <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                         <%= link_to @startups[3].name , @startups[3]%>
                     <h5 style="color:#0088cc"> <%= @startups[3].category %><br>
                      <%= @startups[3].country %><br></h5>
                  </div>

              </div>
               <% if @startups[3].avatar? %>   


             <%= image_tag(@startups[3].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[3].description[0,100]  %>..</p>


        </li>

         <li class="span2">
        </li>           


      </ul>
 
   </div>


  <!-- poner thumbnails aca -->
 
    <div class="item">
     
      <ul class="thumbnails">


        <li class="span2">
        </li>  

         <li class="span2">
            <div class="thumbnail" style="background-color:white;">
              
              <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[0].name , @startups[0]%>
                    <h5 style="color:#0088cc">  <%= @startups[0].category %><br>
                      <%= @startups[0].country %><br></h5>
                  </div>

              </div>

              <% if @startups[0].avatar? %>   


             <%= image_tag(@startups[0].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[0].description[0,100]  %>..</p>


          </div>
        </li>
  
      <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[1].name , @startups[1]%>
                      <h5 style="color:#0088cc"> <%= @startups[1].category %><br>
                      <%= @startups[1].country %><br></h5>
                  </div>

              </div>
               <% if @startups[1].avatar? %>   


             <%= image_tag(@startups[1].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[1].description[0,100]  %>..</p>


          </div>
        </li>
     <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                      <%= link_to @startups[2].name , @startups[2]%>
                     <h5 style="color:#0088cc">  <%= @startups[2].category %><br>
                      <%= @startups[2].country %><br></h5>
                  </div>

              </div>
               <% if @startups[2].avatar? %>   


             <%= image_tag(@startups[2].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[2].description[0,100]  %>..</p>


          </div>
        </li>
        <li class="span2">
            <div class="thumbnail" style="background-color:white;">
               <div class="row-fluid">
                  <div class="span3">

                      <img src="http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" style ="width:50px;height:50px;">
                  </div>

                  <div class="span9">
                         <%= link_to @startups[3].name , @startups[3]%>
                     <h5 style="color:#0088cc"> <%= @startups[3].category %><br>
                      <%= @startups[3].country %><br></h5>
                  </div>

              </div>
               <% if @startups[3].avatar? %>   


             <%= image_tag(@startups[3].avatar_url , :style=>"height:113px; width:200px;")     %>    
               
             <% end %>



            <p><%=@startups[3].description[0,100]  %>..</p>


        </li>

         <li class="span2">
        </li>           


      </ul>
 
    </div>



  </div> 

  <!-- Carousel nav -->
 

  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
 


</div>


    

</center>

</div>

<div class="row-fluid" style="background-color:#eeeeee;">
 
  <center>

    <div class="span12"> 
 
   <BR>
     <%= image_tag( "http://res.cloudinary.com/bogdecom/image/upload/v1372359065/friends_tewcj0.png")  %>
   <BR><BR>

	</div>

	</center>  
</div>




<div class"row-fluid">
  <center>


<img src="http://25.media.tumblr.com/24cef60f3ab779cabea6da4f0c767d4b/tumblr_mpshzkxgVr1qm5n7fo1_1280.png" style="width:100%;">



</center>

</div>  









