<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "VcWings" %></title>
  

  
 

	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	

  
  <%= csrf_meta_tags %>
</head>
<body>
<br>
<header>



 <div  class="row-fluid">

  <div class="span1">
  </div>  

  <div class="span1">
     <%= link_to image_tag("http://res.cloudinary.com/bogdecom/image/upload/v1371438372/mini_u2q4bn.png" , :class =>"brand") , root_path %>
  </div>


  <div class="span3" >

  <div class="row-fluid">
   
      <div class="span6">
      <h5>PLAY <a href="dashboard/game">your invest</a></h5>
       </div>
  

       <div class="span6">
      <h5>UPLOAD <a href="#">your startup</a></h5>
        </div>


   </div>
  </div>



  <div class="span3">

    <div class="input-append">

      <%= form_tag ( {:controller => "dashboard" , :action => "search"} ) do %>
      <%= text_field_tag(:name)   %>
      
      <button class='btn btn-info' style='width:40px;'>
      <i class="icon-search"></i>
      </button>


      

      <% end %>


    </div>

  </div>
    

    <% if signed_in? %>

     <div class="span3">

      <h5><%= link_to "LOG OUT   ", sign_out_path, :method => :delete %></h5>
     </div>





    <% else %>
    <div class="span1">
    <h5><%= link_to "LOGIN", sign_in_path %></h5></div>  


   <div class="span1">
   <h5><%= link_to " JOIN   ", sign_up_path %> <span class="divider"></h5></div>  
 
    <div class="span1">

    <h5>ABOUT</h5>

    </div>  







     <% end %>    

     <div class="span1">
    </div>  


   </div>
   
</div>







</header>  







<header>
<center>
<br>
        <% if signed_in? %>
        <ul class="breadcrumb" >

              
              <li>&nbsp;<%= link_to "Dashboard ", dashboard_path %><span class="divider">/</span></li> 

              <li>&nbsp;&nbsp;<%= link_to "My Profile  ",  :controller => :profiles , :action => :myprofile , :id=>current_user.id %><span class="divider">/</span></li>

             
              <li>&nbsp;<%= link_to " My Startups ", :controller => :startups , :action => :mystartups , :id=> current_user.id %><span class="divider">/</span></li>
             

              <li>&nbsp;&nbsp;<%= link_to " Create Startup  ", new_startup_path(@startup)   %><span class="divider">/</span></li>
              
               <li>&nbsp;<%= link_to " My Investments  ", :controller => :investments , :action => :myinvestments , :id=> current_user.id   %><span class="divider">/</span></li>

              <li>&nbsp;<%= link_to "Sign out   ", sign_out_path, :method => :delete %> <span class="divider">/</span></li>
              
             
             
               
         
              
               





              <li> </li>




      </ul> <% end %>   
   
  




 






</center>
</header> <!-- fin del header -->




 



  
  <%= yield %>
 
  

<%= javascript_include_tag "application" %>
    

    <script>

$('.carousel').carousel({
  interval: 5000


})


</script>

</body>
</html>











