<h1>Listing members</h1>

<table>
  <tr>
    <th>Job</th>
    <th>Member type</th>
    <th>Startup id</th>
    <th>Profile id</th>
    <th>Email</th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.job %></td>
    <td><%= member.mtype %></td>
    <td><%= member.startup_id %></td>
     <td><%= member.profile_id %></td>
     <td><%= member.email %></td>

     <td>
     <%= link_to "edit" , edit_startup_member_path(member.startup_id ,member)%>

     <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      startup_member_path(member.startup_id ,member),
                      :method => :delete,
                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
                      :class => 'btn btn-mini btn-danger' %>


   </td>

  </tr>
<% end %>
</table>

<br />

